* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
    overflow-x: hidden;
}

body {
    background-color: #3b0813;
}

.logoheader {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-width: 8px;
    border-top-style: outset;
    border-top-color: rgb(19, 3, 3);
    border-bottom-width: 3px;
    border-bottom-style: outset;
    border-bottom-color: rgb(153, 16, 16);
    background-color: white;
}

.berlitologo {
    width: 280px;
    outline: 100px;
    transform: translateY(-50px);
    animation: moveUp 1.5s forwards;
    opacity: 0;
    cursor: pointer;
}

.responsivenav {
    width: 30px;
    height: 30px;
    display: none;
}

.headernav {
    display: flex;
}

nav {
    width: auto;
    display: flex;
}

@keyframes moveUp {
    to {
      transform: translateY(0px);
      transform: translatex(0px);
      opacity: 1;
    }
}

nav ul {
    margin-left: 10px;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 15px;
}

nav ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 750px) {
    .responsivenav {
      display: block;
      margin-left: 30px;
      z-index: 156;
      cursor: pointer;
    }
    nav {
        position: absolute;
        width: 40%;
        height: 59vh;
        background-color: rgb(53, 9, 9, 0.7);
        z-index: 155;
        overflow: hidden;
        left: -115%;
        display: block;
        transition: 1s;
        opacity: 0;
        top: 20%;
        border-radius: 0 5px 5px 0;
      }
      nav.active {
          opacity: 1;
          left: 0%;
    }
    nav ul {
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      margin-top: 90px;
    }
    nav ul li{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0;
    }
    nav ul li a {
      font-size: 17px;
      text-decoration: center;
    }
    .berlitologo {
        width: 250px;
    }
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    overflow: hidden;
}

.main-content {
    width: 85%;
    height: 80vh;
    box-shadow: 10px 15px 15px 10px rgba(0, 0, 0, 0.685);
}

.all-content-start {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: #3b0813;
    padding: 10px;
}

.big-image {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.image-1 {
    width: 290px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border: 2px solid black;
    border-radius: 5px;
    animation: amosvla 2s ease-in-out;
    cursor: zoom-in;
    position: relative;
}

@keyframes amosvla {
    0% {
        transform: translateY(114%);
        opacity: 0;
        border-radius: 0px;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        border-radius: 5px;
    }
}

.image-1:hover {
    transform: scale(1.1);
}

.all-about {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
}

.all-about .saxeli {
    font-size: 24px;
    color: white;
    font-weight: 600;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.664);
    overflow: hidden;
}

.all-about .fasi {
    font-size: 25px;
    color: #333;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    overflow: hidden;
}

.abouts-text {
    font-size: 1.5vw;
    color: white;
    width: 300px;
    margin-left: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Athiti', sans-serif;
    font-weight: 200;
}

.all-about .naxatis-shecvla {
    display: flex;
    gap: 20px;
    width: auto;
    height: 95px;
}

.all-about .shecvla-naxati1 {
    width: 50px;
    height: 80px;
    cursor: zoom-in;
    border: 1px solid white;
    box-shadow: 5px 4px 2px 6px rgb(0 0 0 / 0.3);
    border-radius: 10px;
    transition: 0.5s ease-out;
    animation: change 2s ease-in-out;
}

@keyframes change {
    0% {
        border-radius: 0px;
    }
    100% {
        border-radius: 10px;
    }
}

.all-about .shecvla-naxati1:hover {
    border-radius: 0px;
    border: 1px solid #555;
}

#bigchangeimg {
    width: 400px;
    position: absolute;
    top: 120%;
    left: 4%;
    transition: 1.5s ease-in-out;
    cursor: zoom-out;
    opacity: 0;
}

.all-about .purchase a button {
    color: white;
    font-size: 16px;
    background-color: #131112;
    padding: 10px 50px;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
    transition: 1s ease-in-out;
}

.purchase {
    overflow: hidden;
}

.all-about .purchase a button:hover {
    color: #ff9306;
}

.all-about .info-art-text {
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}

.all-about .mariam-instagram {
    color: rgb(255, 83, 3);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.gadasvla {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    justify-content: center;
}

.gadasvla2 {
    width: 300px;
    height: 150px;
}

.gadasvla2 button {
    outline: none;
    background: transparent;
    border: 1px solid #333;
    color: #555;
    padding: 2px 4px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;;
    font-size: 15px;
    transition: 1s ease-in-out;
}

.gadasvla2 button:hover {
    color: white;
}

#text {
    color: #7a7453;
    font-size: 19px;
    margin-top: -100px;
    width: 240px;
    margin-left: 23px;
}

@media (max-width: 1223px) {
    .all-content-start {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 95%;
        margin-top: 10%;
        border: 1px solid #464244;
    }
    .all-about, .abouts-text {
        margin-left: 0px;
    }
    .all-about {
        width: 300px;
        overflow: visible;
        gap: 10px;
    }
    .abouts-text {
        font-size: 20px;
        margin-top: 30px;
    }
    .main-content {
        height: auto;
        width: 98%;
    }
    .content {
        height: auto;
        margin-top: -30px;
    }
    .info-art-text {
        border: 1px solid white;
        box-shadow: 5px 6px 5px black;
    }
    .gadasvla {
        height: auto;
        justify-content: unset;
        margin-top: 20px;
    }
    .big-image {
        width: 350px;
    }
    .image-1 {
        width: 350px;
    }
    .responsivenav {
        position: absolute;
        top: 0.3%;
    }
    .berlitologo {
        width: 200px;
        margin-right: 25px;
    }
    .logoheader {
        height: 35px;
        justify-content: right;
        border: none;
    }
    .info-art-text {
        margin-top: 20px;
    }
}